*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    --maincolor: #301B3F;
--Darkcolor:#222222;
--textcolor:#FFFFFF;
--mainfont:Arial, Helvetica, sans-serif;
}
body{
    background-color: var(--Darkcolor);
}
header {
   height: 20vh;
   width: 30vw;
   margin: auto;
   background-color: var(--Darkcolor);
}
header .list{
   list-style: none;
   margin-left: 4;
}
header .list li{
    display: inline-block;
    color: var(--textcolor);
font: var(--mainfont);
font-size: 20px; 
margin-left: 10px;
}
header .list li a{
    text-decoration: none;
    display: inline-block;
    color: var(--textcolor);
font: var(--mainfont);
font-size: 20px; 
}
nav{
    height: 100vh;
    width: 100vw;
    margin: auto;
    background-color: var(--Darkcolor);
}
h1{
margin-top: 15%;
    text-align: center;
    color: var(--textcolor);
    font: var(--mainfont);
    font-size:  70px; 
}
nav .nav-item1{
    text-align: center;
    margin-top: 5px;
    color: var(--textcolor);
    font: var(--mainfont);
    font-size: 20px;
}
nav .nav-item2{
    width: 400px;
    height: 50px;
    margin: auto;
}
nav .nav-item2 p{
    color: var(--textcolor);
    font: var(--mainfont); 
    margin-top: 10px;
}
main{
    height: 100vh;
    width: 100vw;
   background-color: var(--maincolor);
   border-radius:  10px 30%  0px  10%;
}
main h2{
    color: var(--textcolor);
    font: var(--mainfont);
    font-size: 40px;
}
main .main-item1{
    width: 400px;
    height: 100px;
    margin-top: 30vh;
    font: var(--mainfont);
    color: var(--textcolor);
}
main span{
    display: inline-block;
    margin-top: 40vh;
    font: var(--mainfont);
    font-size: 20px;
    color: var(--textcolor);
    margin-left: 40px;
}
main .i1{
    margin-left: 5px;
    font-size: 20px; 
    color: var(--textcolor);
}
.section1{
    height: 100vh;
    width: 100vw;
    background-color: var(--maincolor);
     border-radius:  10px 30%  0px  10%;
}
.section1,.section2 ,.section5 ,.section6 h2 {
    color: var(--textcolor);
    font: var(--mainfont);
    font-size: 40px;
}
.section1 h3{
    color: var(--textcolor);
    font: var(--mainfont);
    font-size: 25px;
    margin-top: 10vh;
}
.section1 ,.section2 ul li{
    margin-top: 15px;
    color: var(--textcolor);
    font: var(--mainfont);
    font-size: 20px;
}
.btn1,.btn2 ,.btn3{
padding: 7px;
margin-top: 50px;
border: 0;
border-radius: 10px;
color: var(--textcolor);
background-color: var(--Darkcolor);
box-shadow: 0 0 10px #ffffff;
}
.section2{
    height: 100vh;
    width: 100vw;
    background-color: var(--maincolor);
    border-radius:  10px 30%  0px  10%;
    margin-top: 10px;
 }
  .section2 footer{
    margin-top: 50vh;
    font-size: 20px;
  }
  .section3,.section4{
    height: 250px;
    width: 250px;
    margin: 40%;
    background-color: var(--maincolor);
    border-radius: 25px;
  }
  .section3  form,.section4 form{
text-align: center;
padding:45px;
  }
  .section4 {
    height: fit-content;
  } 
  .header2 h1 {
    text-align: center;
    width: 40vw;
    height: 20vh;
    margin: auto;
  }
  .header2 nav{
    width: 40vw;
    height: 20vh;
    margin: auto;
  }
  .header2 nav a{
    display: inline-block;
margin-left:6vw ;
text-decoration: none;
font: var(--mainfont);
text-align: center;
color: var(--textcolor);
  } 
  .section5{
    width: 100vw;
    height: 100vh;
    background-color: var(--maincolor);
    margin-top: 10vw;
    border-radius:  10px 30%  0px  10%;
  }
  .section5 form{
margin-top: 20px;
  }
  .section6{
    width: 100vw;
    height: 100vh;
    background-color: var(--maincolor);
    border-radius:  10px 30%  0px  10%;
  }
  .section6 label{
    color: var(--textcolor);
    display: block;
    font-size: 20px;
    margin-top: 50px;
  }