*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
}
main,.section2{
   display: flex;
   justify-content: center;
   align-items: center;
}
.main-item{ display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 200px;
    aspect-ratio: 1/1;
    border-radius: 100px;
    box-shadow: 0 0 50px rgb(29, 136, 179);
    transition: all .3s .3s;
    cursor: pointer;
}
.main-item:hover{
    box-shadow: 0 0 10px rgb(29, 136, 179);
}
.section{
    display: flex;
   justify-content: center;
   align-items: center;
flex-direction: column;
}
 .section-item1,.section-item2{
    text-align: center;
    margin-top: 25px;
}
.section-item2{
    width: 500px;
    text-align: center;
    margin: 25px auto;
}
.section2{
    gap: 10px;
    perspective: 1000px;
}
.section2-item1,.section2-item2,.section2-item3,.section2-item4{
border-radius:10px ;
padding: 15px;
transition: all 0.3s ease;
cursor: pointer;
}
i{
    font-size: 20px;
    color: white;
}
.section2-item1:hover,.section2-item2:hover,.section2-item3:hover,.section2-item4:hover {
    transform: translateZ(30px);
    box-shadow: 0 0 10px black;
}
.section2-item1{
background-color:#1964c5 ;
}
.section2-item2{
    background-color:rgb(243, 45, 10) ;
}
.section2-item3{
    background-color:#40c7d1 ;
}
.section2-item4{
    background-color:black ;
}